/*
 * Prateek's Custom CSS
 * Copyright Prateek 2018
 */

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/custom';

.full-height {
    min-height: 100%;
    margin: 0 auto;
}

.panel-title {
    text-align: center;
    margin: 40px;
    font-weight: 300;
    font-family: $font-secondary;
}

.page-header {
    text-align: center;
    color: white;
    height: 400px;
    background-color: #4f4f4f;
    /*
    background-attachment: fixed;
    background-position: 50% 0%;
    background-size: auto 400px;
    */
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .page-title {
        font-weight: 300;
        padding-top: 65px;
    }

    hr {
        border-color: #d5d5d5;
        width: 200px;
    }

    .page-subtitle,
    .page-detail {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .page-subtitle {
        font-style: italic;
    }
}

.footer {
    background-color: #284163;
    /* background-color: #c36236; */
    /* height: 10em; */
    color: #eee;
    text-align: center;
    margin-top: 50px;
    padding: 2.75em 0em 2em 0em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-secondary;
}

.footer a {
    color: #eee;
}

.image {
    padding: 45px 0 45px;
}

.image-caption {
    border-top: 2px solid #eeeeee;
    font-style: italic;
    font-weight: 300;
    text-align: right;
}

.image-caption-sm {
    margin-top: 1em;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: #273b43;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 80px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chapter-caption {
    text-align: right;
    color: #C84A39;
}

.thumbnail-caption {
    padding: 5px 0 10px 0;
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

.icon {
    width: 100%;
    padding-bottom: 100%;
    background-color: #4f4f4f;
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbotron-left-arrow {
    min-height: 100%;
    float:left;
    position:fixed;
    top: 0px;
    width:100px;
    /*background-color: gray;*/
    color:#D9D9D9;
    font-size:48px
}

#jumbotron-left-arrow p {
    padding-top:300px; padding-left: 5px;
}

#jumbotron-left-arrow:hover {
    color: #F2F2F2;
    text-decoration: none;
}

#jumbotron-right-arrow {
    min-height: 100%;
    float:right;
    position:fixed;
    top: 0px;
    right: 0px;
    width:100px;
    /*background-color: gray;*/
    color:#D9D9D9;
    font-size:48px
}

#jumbotron-right-arrow p {
    padding-top:300px;
    float:right;
    padding-right: 5px;
}

#jumbotron-right-arrow:hover {
    color: #F2F2F2;
    text-decoration: none;
}
