---
layout: home
title: Prateek Sahay
ssp_weights: '900,400,300'
---
    <!-- Jumbotron full-page view SM+ -->
    <div class="full-height jumbotron-main" style="background-size:cover; background-image:url('img/index-banner.jpg');">
        <div class="container">
            <div class="subtitle-center subtitle-above">
                <p>Design</p>
            </div>

            <div class="subtitle-center subtitle-middle">
                <p>Prateek Sahay</p>
            </div>

            <div class="subtitle-center subtitle-below">
                <p>Engineering</p>
            </div>

            <a href="#portfolio" style="color:white;" class="smoothScroll" title="Portfolio">
                <div class="nav-icon">
                    <i class="fas fa-chevron-down" data-fa-transform="up-1"></i>
                </div>
            </a>
        </div>
    </div>



    <!-- Image for social media sites like LinkedIn to use as a thumbnail -->
    <img src="img/index-banner.jpg" class="d-none" alt="">



    <!-- Portfolio -->
    <div class="container">

        <div class="row">
            <a name="portfolio"></a>
            <div class="col-12">
                <h2 class="panel-title">Portfolio</h2>
            </div>
        </div>

        <div class="row">
            {% assign projects = site.projects | sort: "sequence" %}
            {% for project in projects %}
            <div class="col-lg-3 col-md-4 col-sm-6 {% if project.title == 'CHT4 Corporation' %}d-none d-md-block d-lg-none{% endif %}">
                <a href="{{ project.url }}">
                    <div class="project-thumbnail" style="background-image: url('{{ project.thumbnail-img }}')"></div>
                </a>
                <p class="thumbnail-caption"><span class="text-secondary">{{ project.sequence | prepend: '0' }}</span> {{ project.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
