---
layout: project
banner-img: img/ww-banner.jpg
title: Window Washing Robot
location: Worcester Polytechnic Institute
year: 2014
---
        <!-- 01 Background -->
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <h2 class="chapter-caption">01</h2>
            </div>
            <div class="col-md-6">
                <h2><span class="text-secondary d-md-none">01&ensp;</span>Background</h2>
                <p>
                    RBE 2002 is a class at Worcester Polytechnic Institute
                    called Robotics: Sensing. The goal of the class is to teach
                    students about sensors and feedback control loops. As part
                    of the final project for the class, students must create a
                    window washing robot using tools learned in class and from
                    the robotics lab at WPI.
                </p>
            </div>
        </div>

        <!-- 02 Design -->
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <h2 class="chapter-caption">02</h2>
            </div>
            <div class="col-md-6">
                <h2><span class="text-secondary d-md-none">02&ensp;</span>Design</h2>
                <p>
                    I built this robot was with two other robotics engineers at
                    WPI, Ayesha Fathima and Wut Yee Oo, for a class called RBE
                    2002. The challenge for the class was to build a robot to
                    clean windows on high-rise buildings while applying a
                    constant pressure against the window surface as it moved
                    about.
                </p>
                <p>
                    We opted for a novel design, scrapping the linear,
                    back-and-forth motions everyone else used, and instead
                    integrating a rotating planetary gear set on the front of
                    the robot. Since the moving parts on our robot moved with
                    constant rotational velocity, there was no overall torque
                    applied on the robot so there was very little shakiness as
                    the robot washed. Because of how elegantly and uniquely it
                    completed the challenge, we had the honor of the WPI
                    robotics lab preserving our robot in a glass case at the end
                    of the year.
                </p>
            </div>
        </div>

        <!-- Image -->
        {% include image.html path="img/ww-xsection-cad.jpg" caption="Cross-sectional view of the robot's internal components." title="Cross-sectional view of the robot's internal components." %}

        <!-- 03 Development-->
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <h2 class="chapter-caption">03</h2>
            </div>
            <div class="col-md-6">
                <h2><span class="text-secondary d-md-none">03&ensp;</span>Development</h2>
                <p>
                    The robot is constructed of laser-cut acrylic pieces Wut Yee
                    and I designed in SolidWorks and held together with bolts.
                    The sensors and gears used are part of the Vex consctruction
                    set and include two limit switches, a pushbutton, a linear
                    potentiometer, and an encoder. The software PID controller
                    was programmed into an Arduino microcontroller by all three
                    of us.
                </p>
            </div>
        </div>

        <!-- Image -->
        {% include image.html path="img/ww-prototype.jpg" caption="First physical prototype built of laser-cut acrylic." title="The initial prototype with acrylic and Vex pieces without any electronics." %}

        <div class="row">
            <div class="offset-md-3 col-md-6">
                <p>
                    The following year, we were delighted to find that our
                    design had inspired a new generation of window washing
                    robots which used planetary gears for enhanced washing.
                </p>
            </div>
        </div>

        <!-- Image -->
        {% include image.html path="img/ww-prototype-cad.jpg" caption="CAD model of our final design." title="A SolidWorks mockup of the final design." %}

        <!-- Video -->
        {% include video.html title="Final Product" path="//player.vimeo.com/video/109870401?title=0&amp;byline=0&amp;portrait=0&amp;color=d86e3e" %}
