    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand smoothScroll" href="{{ layout.home-anchor | default: '/' }}">Prateek Sahay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if include.active-nav == 'portfolio' %}active{% endif %} d-none d-md-block">
                        <a class="nav-link smoothScroll" href="{{ layout.portfolio-anchor | default: '/' }}">Portfolio {% if include.active-nav == 'portfolio' %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if include.active-nav == 'portfolio' %}active{% endif %} dropdown d-block d-md-none">
                        <a class="nav-link dropdown-toggle" href="{{ layout.home-anchor | default: '/' }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Portfolio {% if include.active-nav == 'portfolio' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% assign projects = site.projects | sort: "sequence" %}
                            {% for project in projects %}
                            <div class="col-lg-3 col-md-4 col-sm-6 {% if project.title == 'Enhancing Science Education' %}d-none d-md-block d-lg-none{% endif %} {% if project.title == 'CHT4 Corporation' %}d-none{% endif %} {% if project.title == 'ABB, Ltd.' %}d-none{% endif %}">
                                <a class="dropdown-item" href="{{ project.url }}"><span class="text-secondary">{{ project.sequence | prepend: '0' }}</span> {{ project.title }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if include.active-nav == 'blog' %}active{% endif %}" href="{{ page.blog-anchor | default: 'blog.html' | relative_url }}">Blog {% if include.active-nav == 'blog' %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if include.active-nav == 'about' %}active{% endif %}" href="{{ page.about-anchor | default: 'about.html' | relative_url }}">About Me {% if include.active-nav == 'about' %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>