    <meta charset="UTF-8">
    <title>{{ include.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Welcome to the personal website of Prateek Sahay. I'm a robotics engineer working at the Autonomy group at Sikorsky Aircraft in Stratford, CT. View all my past projects here.">

    <!-- JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ 'js/bootstrap.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'js/smoothscroll.js' | relative_url }}"></script>
    {% include google-analytics.html %}
    {%- if layout.enable-fontawesome == true -%}
    <script type="text/javascript" src="js/fontawesome-all.js"></script>
    {%- endif -%}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/index.css' | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:{{ page.ssp_weights | default: '400,300' }}|Exo+2:400,200" type="text/css">
    {%- if include.enable-syntax == true -%}
    <link rel="stylesheet" href="{{ 'css/syntax.css' | relative_url }}">
    {%- endif -%}