    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8">
        <hr>
        <h3>{{ include.title }}</h3>
            <div class="video">
                {% if include.path contains "vimeo" %}
                <iframe src="{{ include.path }}" width=100% height:auto frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {% elsif include.path contains "youtube" %}
                <iframe src="{{ include.path }}" class="embed-responsive-item" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>
