/*
 * Prateek's Custom CSS
 * Copyright P. Sahay 2018
 */

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/custom';
@import 'bootstrap/mixins/breakpoints';

html {
    scroll-behavior: smooth;
}

.full-height {
    min-height: 100%;
    margin: 0 auto;
}

//
// Navbar (Override Bootstrap's default behavior)
//

a.dropdown-item:hover,
a.dropdown-item:focus {
    background-color: #343a40;
}

.dropdown-menu {
    border: none;
}

.navbar.navbar-dark .navbar-nav {
    .dropdown-menu {
        background-color: #343a40 !important;
    }

    a.dropdown-item {
        color: #fff;

        &:hover {
            color: rgba(255,255,255,0.75);
        }
    }
}

//
// Home page jumbotron
//

.jumbotron-main {
    background-position: 50% 50%; /* Adjusts how the image shows up on mobile screens */
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.subtitle-center {
    @include media-breakpoint-down(sm) {
        width: 250px;
        height: 1.9em;
        position: absolute;
        left: 50%;
        margin: -0.75em 0 0 -125px;
        letter-spacing: 3px;
    }

    @include media-breakpoint-up(md) {
        width: 480px;
        height: 1.75em;
        position: absolute;
        left: 50%;
        margin: -0.75em 0 0 -240px;
        letter-spacing: 4px;
    }
}

.subtitle-middle {
    top: 50%;
    font-size: 24px;
    background-color: black;
    border: 5px solid black;

    @include media-breakpoint-up(md) {
        font-size: 48px;
    }
}

.subtitle-above {
    top: 35%;
    font-size: 18px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

.subtitle-below {
    top: 65%;
    font-size: 18px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

.nav-icon {
    top: 90%;
    font-size: 18px;
    background-color: black;
    height: 1.25em;
    width: 1.5em;
    position: absolute;
    left: 50%;
    margin: -0.75em 0 0 -0.75em;

    @include media-breakpoint-up(md) {
        font-size: 48px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 20px;
    }
}

//
// Header
//

h2 {
    font-weight: 300;
    font-family: $font-secondary;
}

.about-intro {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel-title {
    text-align: center;
    margin: 40px;
    font-weight: 300;
    font-family: $font-secondary;
}

.panel-subtitle {
    font-family: $font-secondary;
    font-weight: 600;
}

img.header-img {
    width: 100%;
}

.page-header {
    text-align: center;
    color: white;
    height: 400px;
    border-radius: 0;
    background-color: #4f4f4f;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: 50% 0%;
    background-size: auto 400px;

    .page-title {
        font-weight: 300;
        padding-top: 65px;
    }

    hr {
        border-color: #d5d5d5;
        width: 200px;
    }

    .page-subtitle,
    .page-detail {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .page-subtitle {
        font-style: italic;
    }
}

//
// Footer
//

.footer {
    background-color: #284163;
    /* background-color: #c36236; */
    /* height: 10em; */
    color: #eee;
    text-align: center;
    margin-top: 50px;
    padding: 2.75em 0em 2em 0em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-secondary;
}

.footer a {
    color: #eee;
}

//
// Media
//

.image {
    padding: 45px 0 45px;

    img {
        width: 100%;
    }
}

.image-caption {
    border-top: 2px solid #eeeeee;
    font-style: italic;
    font-weight: 300;
    text-align: right;
}

.image-caption-sm {
    margin-top: 1em;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: #273b43;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 80px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chapter-caption {
    text-align: right;
    color: #C84A39;
}

.thumbnail-caption {
    padding: 5px 0 10px 0;
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
    font-family: $font-secondary, sans-serif;
    font-weight: 400;
}

.project-thumbnail {
    width: 100%;
    padding-bottom: 100%;
    background-color: #4f4f4f;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
        background-position: bottom;
    }
}
