---
layout: default
enable-fontawesome: true
---

<head>
    {% assign title = page.title | append: ' | ' | append: site.title %}
    {% include head.html title=title %}

    <style type="text/css">
        hr {
            width: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .page-banner {
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <a name="top"></a>

    {% include header.html active-nav=page.active-nav %}

    <!-- Content -->
    <div class="container page-banner">
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <hr>
                <img src="{{ page.banner-img | relative_url }}" class="header-img">
            </div>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}

</body>
