---
layout: default
---

<head>
    {% assign title = page.title | append: ' | Prateek Sahay' %}
    {% include head.html title=title %}
    <script type="text/javascript" src="js/fontawesome-all.js"></script>


    <style type="text/css">
        #description {
            margin-bottom: 30px;
        }

        hr {
            width: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .page-banner {
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <a name="top"></a>

    {% include header.html %}


    <!-- Content -->
    <div class="container page-banner">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <hr>
                <img src="{{ page.banner-img }}" class="header-img">
            </div>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}

</body>
