---
layout: default
active-nav: blog
---
<head>
    {% assign title = page.title | append: ' | ' | append: site.title %}
    {% include head.html title=title enable-syntax=true %}

    <style type="text/css">
        hr {
            width: 200px;
        }
    </style>
</head>

<body>
    <a name="top"></a>

    {% include header.html active-nav=layout.active-nav %}

    <!-- Content -->
    <div class="container" style="margin-top: 70px;">

        <!-- Photo -->
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <hr>
                <img src="{{ page.banner-img | relative_url }}" class="header-img" alt="">
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <h2 class="about-intro">{{ page.title | escape }}</h2>
                <p class="post-meta">
                    <span class="text-danger">
                        {%- assign date_format = "%B %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </span>
                </p>
            </div>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}

</body>
