---
layout: default
active-nav: blog
---
<head>
    {% assign title = page.title | append: ' | ' | append: site.title %}
    {% include head.html title=title enable-syntax=true %}

    <style type="text/css">
        hr {
            width: 200px;
        }
    </style>
</head>

<body>
    <a name="top"></a>

    {% include header.html active-nav=layout.active-nav %}

    <!-- Content -->
    <div class="container" style="margin-top: 70px;">

        <!-- Photo -->
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <hr>
                <img src="{{ page.banner-img | relative_url }}" class="header-img" alt="">
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <h2 class="about-intro">{{ page.title | escape }}</h2>
                <p class="post-meta">
                    <span class="text-secondary">
                        {%- assign date_format = "%B %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </span>
                </p>
            </div>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}

</body>

{% comment %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{% endcomment %}