---
layout: default
---

<head>
    {% assign title = page.title | append: ' | Prateek Sahay' %}
    {% include head.html title=title %}

    <style type="text/css">
        .jumbotron {
            background-image: url("{{ page.banner-img }}");
        }
    </style>
</head>

<body>
    <a name="top"></a>

    {% include header.html active-nav="portfolio" %}

    <!-- Jumbotron -->
    <div class="jumbotron page-header">
        <div class="container">
            <h1 class="page-title">{{ page.title }}</h1>
            <hr>
            <h4 class="page-subtitle">{{ page.location }}</h4>
            <h4 class="page-detail">{{ page.year }}</h4>
        </div>
    </div>

    {% comment %}
    <a href="assembly.html" title="Assembly Line Robot">
        <div id="jumbotron-left-arrow" class="hidden-xs hidden-sm">
                <p><span class="glyphicon glyphicon-chevron-left"></span></p>
        </div>
    </a>
    <a href="iqp.html" title="Enhancing Science Education" class="hidden-xs hidden-sm">
        <div id="jumbotron-right-arrow">
                <p><span class="glyphicon glyphicon-chevron-right"></span></p>
        </div>
    </a>
    {% endcomment %}

    <!-- Content -->
    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

</body>
